$color_1: #333;
$color_2: white;
$color_3: #555;
$color_4: #fff;
$font-family_1: 'Ubuntu',
sans-serif;
$background-color_1: #ffffff;
$background-color_2: #f0f4f8;
$background-color_3: #fff;
$background-color_4: #f9f9f9;
$background-color_5: #2196f3;
$background-color_6: #ddd;
$background-color_7: #d2d2d2;
$background-color_8: #4caf50;
$background-color_9: #f44336;
$border-color_1: #2196f3;

/* Input Form */
/* Task List Container */
/* Task Item Styling as Cards */
/* Responsive Design */
/* Filter Buttons */
/* Greyed out for completed tasks */
/* toast.css */
* {
	margin: 0;
	padding: 0;
}

.app-container {
	width: 40%;
	margin: 50px auto;
	padding: 20px;
	border-radius: 16px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: $background-color_1;
}

body {
	background-color: $background-color_2;
	font-family: $font-family_1;
}

h1 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: $color_1;
}

h2 {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 20px;
	color: $color_1;
}

.input-form {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 100%;

	input {
		flex: 1;
		padding: 12px;
		font-size: 1.1rem;
		border: 2px solid #c1c1c1;
		border-radius: 8px;
		width: 100%;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
		transition: border 0.3s ease, box-shadow 0.3s ease;

		&:focus {
			outline: none;
			border-color: $border-color_1;
			box-shadow: 0 4px 8px rgba(33, 150, 243, 0.2);
		}
	}

	textarea {
		flex: 1;
		padding: 12px;
		font-size: 1.1rem;
		border: 2px solid #c1c1c1;
		border-radius: 8px;
		width: 100%;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
		transition: border 0.3s ease, box-shadow 0.3s ease;

		&:focus {
			outline: none;
			border-color: $border-color_1;
			box-shadow: 0 4px 8px rgba(33, 150, 243, 0.2);
		}
	}

	button {
		border: 1px solid #2196f3;
		background-color: $background-color_2;
		border-radius: 50%;
		cursor: pointer;
		font-size: 1rem;
		height: 50px;
		width: 50px;
		transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

		&:hover {
			background-color: $background-color_5;
			color: $color_2;
			transform: scale(1.2);
		}
	}
}

.task-list-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.task-list {
	list-style: none;
	padding: 0;
}

.task-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 18px;
	border: 2px solid #ddd;
	border-radius: 12px;
	background-color: $background-color_3;
	transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	&:hover {
		background-color: $background-color_4;
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
		transform: scale(1.02);
	}

	p {
		margin: 0;
		font-size: 1.2rem;
		max-width: 60%;
		word-wrap: break-word;
		white-space: normal;
	}

	.input-form {
		flex-grow: 1;
		display: flex;
		gap: 10px;

		input {
			width: 100%;
			border: 1px solid #ddd;
			padding: 12px;
			border-radius: 8px;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

			&:focus {
				border-color: $border-color_1;
				box-shadow: 0 4px 8px rgba(33, 150, 243, 0.2);
			}
		}
	}
}

.task-actions {
	display: flex;
	gap: 10px;
	align-items: center;

	button {
		border: 1px solid #2196f3;
		background-color: $background-color_2;
		border-radius: 50%;
		cursor: pointer;
		font-size: 1rem;
		height: 50px;
		width: 50px;
		transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

		&:hover {
			background-color: $background-color_5;
			color: $color_2;
			transform: scale(1.2);
		}
	}
}

.todo-list {
	margin-top: 20px;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.filter-buttons {
	display: flex;
	justify-content: center;
	margin: 0 10px;

	button {
		margin: 0 10px;
		padding: 10px 20px;
		font-size: 1rem;
		border: none;
		background-color: $background-color_6;
		border-radius: 8px;
		cursor: pointer;
		transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

		&:hover {
			background-color: $background-color_5;
			color: $color_2;
			transform: scale(1.1);
		}
	}
}

.todo-list-container {
	padding: 20px 10px;
}

.task-item.completed {
	background-color: $background-color_7;
	opacity: 0.8;

	p {
		text-decoration: line-through;
	}
}

.empty-task-message {
	text-align: center;
	margin-top: 20px;
	color: $color_3;
	font-size: 1.2rem;

	p {
		margin: 10px 0;
	}
}

.toast-container {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
}

.toast {
	padding: 10px 20px;
	border-radius: 5px;
	color: $color_4;
	margin-bottom: 10px;
	font-size: 14px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toast-success {
	background-color: $background-color_8;
}

.toast-error {
	background-color: $background-color_9;
}

.toast-info {
	background-color: $background-color_5;
}

@media (max-width: 768px) {
	.app-container {
		width: 90%;
	}

	.input-form {
		input {
			font-size: 1rem;
		}

		button {
			font-size: 1rem;
		}
	}

	.task-actions {
		button {
			font-size: 1rem;
			padding: 10px;
		}
	}
}

@media (max-width: 480px) {
	.task-item {
		flex-direction: column;
		gap: 20px;

		p {
			max-width: 100%;
		}
	}

	.filter-buttons {
		button {
			padding: 10px 7px;
		}
	}

	.task-actions {
		button {
			height: 40px;
			width: 40px;
			padding: 0px;
		}
	}
}
